body{
    background: rgb(208,228,247);
    background: -moz-linear-gradient(left, rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(91,157,211,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%);
    background: -webkit-linear-gradient(left, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(91,157,211,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
    background: linear-gradient(to right, rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(91,157,211,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 );
}